body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header, #dataSet, #results {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 10px;
}

select, #dateSelect, button {
  height: 25px;
  margin: 10px;
  border-radius: 3px;
  border-style: inset;
  border: 2px solid grey;
}

#dataReq {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  text-align: left;
}

.dataPoint {
  padding: 5px 10px;
}

button {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  box-shadow: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 1px 1px black;
}

button:active {
  box-shadow: none;
  position: relative;
  top: 1px;
  left: 1px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

th {
  font-size: 1.2em;
  padding-bottom: 8px;
}

td {
  min-width: 120px;
  border: 1px solid gray;
  padding: 5px;
  text-align: left;
}

.rowName {
  font-weight: bold;
}
